body {
  background: url("bg.jpg") no-repeat center fixed;
  background-size: cover;
  
}

.button_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gradient-border {
  --borderWidth: 10px;
  background: #f7f9f900;
  position: relative;
  border-radius: var(--borderWidth);
  height:50px;
  width:200px;
  border-color: #07b39c00;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(1.3 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 300% 300%;
}

.text {
  font-family:'Courier New', Courier, monospace;
  font-size: 32px;
  color: rgb(245, 239, 242);
  transform: translateX(-5%);
  
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}